/* Estilos para la vista de reservaciones */

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reservacion-info {
    background-color: #e9e9e9;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.reservacion-info h3 {
    color: #333;
    margin-bottom: 10px;
}

.reservacion-info div {
    margin-bottom: 10px;
}

.reservacion-info strong {
    font-weight: bold;
    margin-right: 5px;
}

#formularioReservacion {
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc; /* Añadimos un borde alrededor del formulario */
    border-radius: 5px;
    background-color: #fff; /* Cambiamos el color de fondo a blanco */
}

#formularioReservacion h3 {
    color: #333;
    margin-bottom: 20px;
}

#formularioReservacion div {
    margin-bottom: 15px;
}

#formularioReservacion label {
    display: block;
    margin-bottom: 5px;
}

#formularioReservacion select,
#formularioReservacion input[type="date"],
#formularioReservacion input[type="number"] {
    width: calc(100% - 22px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#formularioReservacion button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#formularioReservacion button:hover {
    background-color: #0056b3;
}
